.joinContainer
{
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
}

.formContainer
{
    display: flex;
    flex-flow: column nowrap;
    width:600px;
    text-align: left;
}

.img-container {
    padding: 15px;
}

.signup-input{
    width: 100%;
    margin: 10px;
}

li{
    padding: 4px;
}

form-text-input {
    padding: 10px;
}

