.statsContainer{
    display: flex;
    flex-flow: column;
    /* max-width: 800px; */
    align-items: center;
    padding-bottom: 50px;
}

.graphContainer{
}

.inputContainer{
    width: 50%
}

.inputContainer * {
    /* margin: 50px;
    padding: 50px */
}
.test{
    background-color: red;
}